.titulo{
	text-align: center;
}
.subtitulo{
	color: #FF0000;
	font-size: 15px;
	text-align:center;
}
.info_produto{
	display:inline;
}
.div_btn div{
	vertical-align: baseline;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}
.div_btn{
	height:25px;
	margin:0px 10px 0px 10px; 
	background-color:#0f0;
	border-radius:2px;	
}
.div_btn:hover{
	cursor:pointer;
}
.info_produto{
	width:100%;
	font-size:17px;
	text-align:center;
}
.input_quant{
	margin-bottom:10px;
	margin-left:10px;
	width:85%;
}
div.info{
	padding-left:40px;
	display:inline;
}
div.value{
	display:inline;
}
#btn_aceitar_produto{
	margin-top:10px;
	margin-bottom:10px;
}
#info_pedido{
	display:none;
}
#info_dinheiro{
	display:none;
}
