* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

#header {
	margin-top: 25px;
	margin-bottom: 25px;
}

#header h1 {
	font-family: sans-serif;
	font-size: 25px;
	margin-left: 25px;
}

#menu {
	position: absolute;
	width: 100%;
	list-style: none;
}

#menu li {
	padding: 10px;
	padding-left: 40px;
	font-family: sans-serif;
	font-size: 18px;
	text-align: left;
	cursor: pointer;
	transition: 0.2s;
	overflow: hidden;
}

#menu li:hover {
	background-color: #eee;
}

.icon_op {
	transition: 0.2s;
	vertical-align: middle;
}

#menu li:hover .icon_op {
	color: #f00;
	transform: scale(1.1);
}
