header#nav{
	overflow-x: hidden;
}
#container-nav{
	background-color: #F44336;

}
nav#raiz-nav{	
	background-color: #F44336;
	height:65px;
}
#barra-navegacao {		
	background-color: #F44336;	
	padding:0px;
	border:none;		
}
#lista-navegacao{
	margin:0px 10px 0px 0px;
	
}
#barra-navegacao li {	
	display:inline-block;
	margin:0px;
	padding:0px 0px 0px 8px;
	position:relative;
	top:0px;	
	width: 130px;
	height:63px;
	transition: 0.3s;
}
#barra-navegacao li i {		
	/*color:rgb(0,0,0);*/
	margin:0px;
	color:rgba(255,255,255,1);
	position:relative;
	top:18px;
	right:0px;	
	vertical-align: middle;		
}
#barra-navegacao li a {
	position:relative;
	font-size:17px;
	color:rgba(0,0,0,.9)!important;	
	top:-4px;	
	left:31px;
	font-weight: 600;
	padding:0px;
	margin:0px;
	width:90px;
}
#barra-navegacao li:hover {
	background-color: #fff;
}
.icon_op {
	transition: 0.2s;
	vertical-align: middle;
}
#barra-navegacao li:hover .icon_op {
	color: #f00;
	transform: scale(1.1);
}
#name-iffood{
	color:rgba(0,0,0,.8);	
	font-family:'Exo 2', sans-serif;
	font-size:28px;
	font-weight:600;
}
#nav-div-button{	
	border-bottom: 13px solid #fff;
}
#nav-div-button span{
	background-color: rgba(0,0,0,.8);
	width:45px;
	height:4px;
}
#nav-div-button #nav-button{
	transition: 0.3s;
	background-color: #F44336;
	border-radius: 0px;
	margin: 0px;
	border: none;
	height:50px;
	
}
#nav-button:hover {
	background-color:rgb(255,255,255)!important;
}
footer.footerSobre{

    width:100%;
    display:block;
    background-color: dodgerblue;
}
span.spnQtdCarrinho{
	background-color: #fff;
	border-radius: 450px;
	display: inline-block;
	padding: 2px;
}
