* {
	margin: 0;
	padding: 0;
}
/*TITULO DA AREA*/
h4.titulo_card{
	margin: 30px auto 20px auto;
	text-align: center;
	font-size: 25px;
	font-weight:700;
}
.pedido_pessoal h5{
	font-style: italic;
}
.pedido_pessoal{
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
/*CARD DO PEDIDO*/
div.pedido{
	margin-top:20px;
	width:100%;
	height:190px;
	border-top: 2px solid rgba(0,0,0,0.5);
	border-radius: 1px;
	padding: 15px 0px 0px 0px;
	background-color: #fff;
	transition: 0.2s;
}
div.info{
	padding:0px 0px 25px 10px;
}
div.divizao{
	padding-top: 7px;
	padding-bottom:20px;
}
div.info div.divizao div{
	font-size: 17px;

}
div.information{
	font-weight:bold;
	text-align:center;
	font-size: 19px;
}
div.value{
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.show_produtos{
	font-weight:bold;
	font-size:16px;
	width:100%;
	background-color: #0f0;
	transition: 0.3s;
}

div.btn{
	margin-bottom:15px;
	width:100%;
	color: #fff;
	font-weight: 600;
}
#label_obs{
	margin-top:15px;
	margin-bottom:10px;
	font-weight:400;
	font-size:18px;
	width:100%;
	text-align:center;
}
#input_obs{
	font-size:17px;
	border:none;
	border-bottom:1px solid rgba(0,0,0,1);
	width:100%;
	text-align: center;

}
/*	FORMATACAO DO POPUP*/
div.btn.btn_recusar{
	background-color: #f00;
}
#btn_aceitar_produto{
	background-color: #0f0;
}
.infos_popup{
	margin-bottom:20px;
}
/*FORMATACAO CARD DE AVISO*/
#aviso{
	padding: 10px;
	z-index:5000;
	position:fixed;
	top:500px;
	border-top: 1px solid rgb(0,0,0);
	border-bottom: 1px solid rgb(0,0,0);
	width:100%;
	top: 100px;
}
#text_aviso{
	width:100%;
	padding-top:10px;
	font-weight:bold;
	font-size: 16px;
	display:inline;
	text-align:center;
}
#icon_aviso{
	color: white;
	font-size: 35px;
	border-radius:13px;
}
/*FORMATACAO CARD AVISO DE CONEXAO*/
#container_conection{
	width:;
	position:fixed;
	z-index: 4999;
}
#div_icon_aviso_conection{
	position: absolute;
	right:0px;

}
