* {
	margin: 0;
	padding: 0;
}

}
body.bodySobre{
	background-color: #ccc;
}

*:focus {
	outline: none;
}
ul#lista-navegacao li{
	cursor: pointer;
}
#container_nav{
	background-color: #F44336;
}
div.div_li_navbar{
	width:100%;
	height:100%
}
section.corpo {
	margin-top: 35px;
	padding:0px;
}
#div_cardapio{
	padding:15px;

}
/*#cardapio .col-xs-3{
	min-width:200px;
}*/
#titulo_cardapio{
		margin-bottom:30px;
}
.col-centralizada{
	transition: 0.2s;
	margin-bottom:10px;
}
.ttl_card {
	font-family: Verdana, sans-serif;
	font-size: 25px;
	color: #000;
	text-align: center;
}
/*Estilo do Cardapio*/
#cardapio {
	//width:90%px;
	//text-align:center;
	list-style: none;
	//margin-left: auto;
	//margin-right: auto;
}

.food {
	margin:5px;
	min-width: 114px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius: 3px;
	padding: 10px 0px 10px 0px;
	background-color: #fff;
	transition: 0.2s;
}
.col-centralizada:hover {
	transform: scale(1.2);
	z-index: 2;
}
/*.food:before {
	content: "";
	top: 10px;
	bottom: none;
	position: absolute;
	background-color: #e3e3e3;
	width: calc(100% - 20px);
	height: calc(100% - 100px);
}*/

.ttl_food {
	text-align:center;
	margin:0px;
	background-color: #ffffff;
	padding-top: 6px;
	padding-left: 8px;
	font-size: 18px;
	font-family: sans-serif;
}

.food button:hover {
	box-shadow: 0 0 4px rgba(0,0,0,1);
}

.attrs_food {
	height: 140px;
	//width: calc(100% - 20px);
}
.attrs_food tr {
	display:block;
	font-family: Verdana, sans-serif;
}
.attr_clsf {
	top:15px;
	left:5px;
	font-size: 16px;
	color: #555;
	width: 50px;
}

.attr_clsf:before {
	content: "★ ";
	color: #ff0;
	font-size: 18px;
}

.attr_preco {
	margin:0px 0px 5px 0px;
	//top: 15px;
	//left:0px;
	text-align: center;
	color: #70c836;
	font-size: 18px;
	//width: 100px;
}
.quantia{
	padding-left:5px;
	border: 1px solid black;
	top:90px;
	left: 60px;
	height: 35px;
	width: 100%;
}
.input_buton{
	padding:0px 10px 0px 10px;
}
.div_img{
	margin:10px 15px 10px 15px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*
<p>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-default btn-lg">Large button</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
  <button type="button" class="btn btn-default btn-sm">Small button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</p>
*/

ul#cardapio button{
	top: 90px;
	color: #fff;
	background-color:#70c836;
	border: none;
	padding: 3px;
	//height:40px;
	//width: 45px;
	border-radius: 3px;

	font-size: 30px;
}
.div_buton{
	padding:0px;
	height:35px;

}
.food .botao{
	border-radius: 5px;
	background-color: #70c836;
	color: white;
}

.btn_quantia_menos{
	margin-left:15px;
	margin-bottom:10px;
}
.btn_quantia_mais{
	margin-right:15px;
	margin-bottom:10px;

}
.food .botao p{
	cursor: pointer;
	margin:0px;
	font-size:30px;
	padding:0px;
	height:35px;
	vertical-align:middle;
	text-align:center;
}
.txt_quantia{
	left: 35px;
	top: 60px;
	font-family: verdana,sans-serif;
}
/*Estilo do botao de comprar*/
#sec_compra{
	position: fixed;
	top: 84.8%;
	left: 530px;
	height: 120px;
	width: 330px;
	border:1px solid  #fff;
	z-index: 3;
}
.pre_form{
	padding-top:10px;
	padding-bottom:10px;
}


#div_finalizacao{

	z-index:3;
	width:100%;
	position:fixed;
	bottom:0px;
}
#bg_preco{
	border: 1px solid rgba(0,0,0,.3);
	border-bottom:none;
	background-color:#fff;;
}
#bg_botao{
	border: 1px solid rgba(0,0,0,.3);
	border-top:none;
	background-color:#fff;;
}


#form_compra{
	height:auto;
	padding: 10px 15px 15px 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
*/
#detalhes_compra {

}
.txt_modal {
	margin-left:5px;
	width:70%;
	border:none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
#input_local_entrega{
	display: none;
}

#cardapio div{
/*	min-width: 100px;
	max-width: 100px;*/
}
/*#btn_compra:hover{

}*/
#div_nome_compra{
	margin-bottom:15px;
	margin-top:15px;
}
#div_select_local{
	margin-top:15px;
	margin-bottom:15px;

}
#select_local{
	margin-top:15px;
	height:58px;
}
#div_carrinho{
	margin: 20px auto 20px auto;
	font-size:20px;

}
#popup{
	top:100px;
}
.modal-header{
	background-color: #f00;
	background-color: #f00;
}
#titulo_popup{
	font-size: 25px;
	color:white;
	font-family: 'Exo 2', sans-serif;
}
.modal-footer{
	height:5px;
	background-color: #f00;

}

.modal-content{

}
.botao_popup{
	vertical-align:middle;
	height:40px;
	text-align:center;
	border: none;
	box-shadow: none;
	font-size: 18px;
	border-radius: 5px;
	background-color: #70c836;
	color: #fff;
	bottom: 10px;
	width:100%;
}
}
.botao_popup:hover{
	color:black;
}
#input_compra_final{
	border:none;
	width:50%;
	font-size:18px;
}
.sub_text{
	color:rgba(0,0,0,0.5);
	margin-top:10px;
	font-size:15px;
	display:inline;"
}
#input_compra{
	text-align:center;
	border: none;
	background-color: rgba(0,0,0,0);
	font-family: verdana,sans-serif;
	font-size: 20px;
	min-width:96px;
	width: 100%;
	height:40px;
}
#label_compra{
	margin-top:5px;
	text-align:center;
	width:50%;
	font-family: verdana,sans-serif;
	font-size: 20px;
	font-weight:600;
	height:35px;

	/*
	display: inline-block;
	margin-top: 10px;
	margin-left: 15%;
margin-right: 10px;*/
}
.copyright{
	font-size:16px;
	text-align:center;
}
.fa.fa-facebook{
	text-align:center;
	color:#212529;
	font-size:20px;
}
.fa.fa-facebook:hover{
	color: rgba(0,0,0,.6);
}
footer#footercardp{
    padding: 10px;
    height: 80px;
    width: 100%;
    display: block;
    background-color: white;
	border-top: 1px solid rgba(0,0,0,.3);
}
.pWhats{text-align:center; width: 100%;}
.pEmail{text-align: center; width: 100%;}
.icoWhats{color:#03ef03; font-size: 22px; cursor: pointer;}
.bastos{font-size: 14px; text-align: left!important; line-height: 1.90; margin-top: 1.7em;}
@media (max-width: 480px) {
     .bastos{font-size: 11px;line-height: 1.70;margin-top: 0;}
}


/*FORMATACAO CARD DE AVISO*/
#aviso{
	padding: 10px;
	z-index:5000;
	position:fixed;
	top:500px;
	border-top: 1px solid rgb(0,0,0);
	border-bottom: 1px solid rgb(0,0,0);
	width:100%;
	top: 100px;
}
#text_aviso{
	width:100%;
	padding-top:10px;
	font-weight:bold;
	font-size: 16px;
	display:inline;
	text-align:center;
}
#icon_aviso{
	color: white;
	font-size: 35px;
	border-radius:13px;
}
